# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Laravel
.env
.env.backup
storage/*.key
Homestead.yaml
Homestead.json
mix-manifest.json
.phpunit.result.cache

docker-compose.override.yml
/.vagrant
